@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-cairo;
  }
  html {
    @apply scroll-smooth;
  }
}
:root {
  --container-max-width: clamp(390px, 85%, 1080px);
  --container-padding: 0 clamp(10px, 3vw, 32px);
}

@layer components {
  .app-container {
    width: 100%;
    max-width: var(--container-max-width);
    padding: var(--container-padding); /* Responsive padding */
    margin: 0 auto;
    transition:
      max-width 0.3s ease-out,
      width 0.3s ease-out,
      padding 0.3s ease-out;
    /* iPhones & Small Devices (≤375px) */
  }

  .btn {
    @apply flex w-fit items-center justify-center gap-3 rounded-[200px] px-5 py-[10px];
  }
  .btn-primary {
    @apply bg-secondary text-white;
  }
}
