@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-cairo;
  }
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .app-container {
    width: 100%;
    max-width: clamp(395px, 85%, 1080px);
    padding: 0 clamp(8px, 3vw, 32px); /* Responsive padding */
    margin: 0 auto;
    /* iPhones & Small Devices (≤375px) */
  }

  .btn {
    @apply flex w-fit items-center justify-center gap-3 rounded-[200px] px-5 py-[10px];
  }
  .btn-primary {
    @apply bg-secondary text-white;
  }
}
